/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Lexend:wght@300;400&family=Montserrat&display=swap');

$prm-fonts:'Lexend', sans-serif;;
$main-fonts:'Chakra Petch', sans-serif;
$second-main-fonts:'Montserrat', sans-serif;

/*COLORS*/

$prm-main-bg-color:#FDF8CB;
$second-main-bg-color:#374665;

$prm-main-color:#ABB8D4;
$second-main-color:#D1C6C6;


$prm-main-text-color:#000;
$second-main-text-color:#ffff;

$btn-authorization-bg-color:#30A450;
$btn-prm-bg-color:#807D78;
$btn-selected-color:#FC9D0E;